main {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.logo
{
	width:100px;
	height:100x;
}
#tagline
{
	font-family: 'helvetica', 'arial', sans-serif;
	text-align:center;
	text-size:30px

}
.productImage
{
	width:250px;
	height:250px;

}

