<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Product promo app</title>
</head>
<body>
    <main>
        <header> <img src="images/beatsLogo.png" alt="Logo" class="logo"> </div></header>
        <h1 id="tagline">Beats by Dre</h1>
        <section id="productDescription">

        <img src ="images/powerbeats.png" alt="product" class="productImage">
        <section id="text">
        <h1 id ="productName">
Powerbeats3 Wireless</h1>
<p id="desc">Powerbeats3 Wireless earphones are ready for any challenge with up to 12 <br>hours of battery life to fuel multiple <br>long workouts and powerful, dynamic <br>sound to keep you pushing.</p>
<h2 id ="price">$249</h2>
<button id ="buynow">BUY NOW</button>
</section>
</section>
<h1 id="moreColoursdesc">Available in More Colours</h1>
<section id="moreColours">
    
    <img src ="images/black.jpg" alt="product" class="productImage">
    <img src ="images/white.jpg" alt="product" class="productImage">
    

</section> 
<div id ="copyright"><h1>copyright Apple Inc 2019</h1>
    </div>


    </main>

    <script src="js/main.js"></script>
</body>
</html>